
body {
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(to bottom, #AACB73, #CDE990);
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}


h1 {
    text-align: center;
    margin-top: 50px;
}


.new-issue-form {
    background-color: #557153; 
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    margin: 50px auto;
    box-shadow: 2px 2px 10px #000;
}
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h3 {
    text-align: center;
}

#issue-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

label {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    border: none;
    font-size: 18px;
}

#btn-add {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#btn-add:hover {
    background-color: #45a049;
}


#current-issues {
    text-align: center;
    margin-top: 50px;
}

.issues-container {
    display: flex;
    justify-content: space-between;
}
.issues-container1 {
    display: flex;
    justify-content: space-between;
    width:100%;
}
.state-headline{
    display: flex;
    
}
.headline{
    width:23%;
    align-items: center;
    text-align: center;
    background-color: #ccc;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 20px;
    pointer-events: none;
    -webkit-user-drag:none;
    font-weight: bold;
  
    
}
.issue-state {
    width: 23%;
    height:100vh;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 50px;
    max-height:150vh;
    overflow-y: scroll;
    overflow-x:hidden ;
}
.issue-state1 {
    width: 100%;
    height:20vh;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 50px;
    
}

.sticky-div {
    background-color: #ccc;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 20px;
    pointer-events: none;
    -webkit-user-drag:none;
}


.issue-card {
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
}

.open {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
}

h4 {
    margin-top: 20px;
}

.card-text {
    margin-bottom: 10px;
}


.action-palette {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
    gap:0.1rem;
}

.prev-btn, .next-btn {
    cursor: pointer;
    font-weight: bold;
}

.close, .delete {
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
}
.close {
    background-color:lightgreen;
    }
    
.delete {
    background-color: lightgreen;
    }
    
.prev-btn:hover, .next-btn:hover {
    color: #4CAF50;
    }
    
.close:hover, .delete:hover {
    background-color: #333;
    color: white;
    }
    #new-state {
        background-color: #3C6255;
    }
    
    #development-state {
        background-color: #61876E; 
    }
    
    #qa-state {
        background-color: #A6BB8D; 
    }
    
    #done-state {
        background-color: #A4BE7B; 
    }
    
    .prev-btn:hover, .next-btn:hover {
        background-color: #ccc;
    }
    
    .close:hover {
        background-color: #F44336; 
    }
    
    .delete:hover {
        background-color: #9E9E9E; 
    }
    ::-webkit-scrollbar {
        width: 8px;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #FFD4D4;
        border-radius: 10px;
    }